PORT=3000
CLIENT_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
NODE_ENV=development
SESSION_SECRET=your-session-secret-change-me-in-production

# Steam
STEAM_API_KEY= 5DE4704107754FB032FC7666DBF21CEE

# Stripe
STRIPE_SECRET_KEY=sk_test_51T5mtmCFAkkPvDps9C8wrLxQa5cMMwA79FMDBL6FPIEOBFSefmzLOoeRqw01KZHn9Ynff5Ls8VTbvmpf0WSs2kwf00tIg48Ay8

# Discord OAuth2
DISCORD_CLIENT_ID= 1479564724093059165
DISCORD_CLIENT_SECRET= dFcVjtiYO-I9lxRMNT-dWsdlM3B_NdX
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback